.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  height: 320px;
  position: relative;
}

.scroll-track {
  display: flex;
  animation: scroll-left 30s linear infinite;
}

.scroll-item {
  flex-shrink: 0;
  width: 200px;
  height: 150px;
  margin: 0 6px;
  border-radius: 8px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.scroll-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110%);
  }
}
